//<div class="error-container">
//<div class="error-content">
//<h1 class="error-title">404</h1>
//<div class="error-divider"></div>
//<h2 class="error-subtitle">Oups Page introuvable</h2>
//<p class="error-text">
//                     La page que vous recherchez semble avoir disparu dans le vide numérique.
//</p>
//<button class="home-button" routerLink="/home">Retour à l'accueil</button>
//</div>
//<div class="error-image">
//<div class="astronaut">
//<div class="astronaut-body"></div>
//<div class="astronaut-head"></div>
//<div class="astronaut-arm-left"></div>
//<div class="astronaut-arm-right"></div>
//<div class="astronaut-leg-left"></div>
//<div class="astronaut-leg-right"></div>
//</div>
//<div class="planet"></div>
//<div class="stars"></div>
//</div>
//</div>

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #013662;
  color: #ffffff;
  text-align: center;
  padding: 2em;

  h1 {
    font-size: 6rem;
    margin-bottom: 0.2em;
    color: #23CC64;
  }

  p {
    font-size: 1.5rem;
  }
}

